/* Change colors in body variable declarations only please, add vars here as needed
 * login page instructions have separate color lower in file
 */
body {
	--bg-color: #E3EFC9;
	--login-img-bg: #C6F7F3;
	--darker-bg-color: #cdde92;
	--text-color: #7a450f;
	--title-color: #4c2b09;
	--accent-color: #f38630;
	--pale-title-color: #C69D73;
	--palest: #ffffff;
	--main-font: "Verdana", sans-serif;
	
	--nav-text-color: var(--title-color);
	--nav-bg-color: var(--palest);
	--nav-hover-color: var(--pale-title-color);
	--site-title-color: var(--nav-text-color);
}

/* for login page background image behavior */
html {
	min-height: 100%;
}
.login-page {
	background-color: var(--login-img-bg) !important;
	background-image: url("../dog-bg.png") !important;
	background-repeat: no-repeat !important;
	background-position: right bottom !important;
}

/* For overriding bootstrap, use #dad id */

#dad h1 {
	color: var(--title-color);
	text-align: center;
	display: block;
	font-size: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* special css for title on login page */
#dad #login-title{
	font-size: 3em;
	padding-bottom: 0;
}

/* style for the instructions on the login screen */
#dad #login-instructions {
	font-size: 1.7em;
	color: green;
}

/* basic look for paragraphs on the website */
#dad p {
	background: #ffffff; /* gives them white rectangle background, remove if not wanted*/
	display: block;
	padding: 0.5em 0.5em 0.5em 0.5em;
	width: 90%;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}

/* style per link in nav bar, both unvisited and visited */
#dad nav li a:link, nav li a:visited{
	text-decoration: none;
	border-bottom: 0.2em solid var(--nav-hover-color);
}

/* style changes for when mouse hovers over nav link */
#dad nav li a:hover{
	background-color: var(--nav-hover-color);
}

/* for title in navbar */
#dad .navbar-brand{
	color: var(--site-title-color);
}

/* color characteristic needs to be here to overwrite bootstrap */
#dad .navbar-nav li a{
	color: var(--nav-text-color);
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}
#dad .navbar-nav, #dad .navbar-header, #dad nav .container-fluid{
	background-color: var(--nav-bg-color);
}
#dad .navbar-inverse{
	border-color: var(--nav-bg-color);
}
#dad {
	background-color: var(--bg-color);
	margin: 0px;
	padding: 0px;
	color: var(--text-color);
	font-family: var(--main-font);
}