body {
	--bg-color: #E3EFC9;
	--darker-bg-color: #cdde92;
	--text-color: #7a450f;
	--title-color: #4c2b09;
	--accent-color: #f38630;
	--pale-title-color: #C69D73;
	--palest: #ffffff;
	--main-font: "Verdana", sans-serif;
	
	--nav-text-color: var(--title-color);
	--nav-bg-color: var(--palest);
	--nav-hover-color: var(--pale-title-color);
	--site-title-color: var(--nav-text-color);
	

}

/* For overriding bootstrap, use #dad id */

#dad h1 {
	color: var(--title-color);
	text-align: center;
	display: block;
	font-size: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#dad p {
	background: #ffffff;
	display: block;
	padding: 0.5em 0.5em 0.5em 0.5em;
	width: 90%;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}

#nav-mainsite{
	font-weight: bold;
	float: left;
}

nav{
	width: 100%;
	background: var(--nav-bg-color);
}

nav ul{
	margin: 0px;
	padding: 0px;
	line-height: 2em;
	margin-bottom: 0.2em;
	float: right;
	display: block;
}

nav li{
	display: inline;
	list-style: none;
	line-height: 2em;
}

nav li a{
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: 2em;
	padding-right: 2em;
	border-bottom: 0.2em solid var(--nav-hover-color);
}

#dad nav li a:link, nav li a:visited{
	text-decoration: none;
	color: var(--nav-text-color);
}

#dad nav li a:hover{
	background-color: var(--nav-hover-color);
}

#loginout {
	text-align: right;
}


#dad .navbar-brand{
	color: var(--site-title-color);
}
#dad .navbar-nav li a{
	color: var(--nav-text-color);
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}
#dad .navbar-nav, #dad .navbar-header, #dad nav .container-fluid{
	background-color: var(--nav-bg-color);
}
#dad .navbar-inverse{
	border-color: var(--nav-bg-color);
}
#dad {
	background-color: var(--bg-color);
	margin: 0px;
	padding: 0px;
	background: var(--bg-color);
	color: var(--text-color);
	font-family: var(--main-font);
}